@model IEnumerable<TimeTracker.Models.NotificationMessage>

@{
    ViewData["Title"] = "Notifications";
}

<body>
    <h1>Check my notifications</h1>
    <table>
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <td>
                        @message.Message
                    </td>
                    @if (!message.Message.Contains("You don't have any notifications"))
                    {
                        <td>
                            <a asp-controller="Notification" asp-action="DeleteNotification" asp-route-id="@message.Id"
                       class="btn btn-danger mx-2" id="li"><i class="bi bi-trash-fill"></i> Delete</a>
                        </td>
                    }
                </tr>
            }

            <tr>
                <td>
                    <a asp-controller="Notification" asp-action="DeleteAllNotifications"
                       class="btn btn-danger mx-2" id="li"><i class="bi bi-trash-fill"></i> DeleteAll</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>

<style>

    div {
        width: 33%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        width: auto;
        height: auto;
        border-right: 2px solid #708090;
        border-left: 2px solid #708090;
        border-top: 7px solid #708090;
        border-bottom: 7px solid #708090;
        background: #FFFAFA;
    }

    th {
        font-size: 18px;
        font-weight: normal;
        padding: 10px;
        border-bottom: 4px solid;
        border-right: 2px solid #708090;
        box-shadow: 0 6px 0 0 rgba(0,0,0,.15);
    }

    td {
        font-size: 16px;
        font-weight: normal;
        padding: 10px;
        border-bottom: 2px solid;
        box-shadow: 0 6px 0 0 rgba(0,0,0,.15)
    }

    h1 {
        text-align: center;
        line-height: 100%;
    }

</style>