<body>
    <div>
        <p><a asp-controller="User" asp-action="CreateUser" class="btn btn-primary" style="height:200px; width:250px;">Add worked hours</a></p>
    </div>

    <div>
        <p><a asp-controller="User" asp-action="GetAttendanceOfUser" class="btn btn-primary" style="height:200px; width:250px;">Check schedule</a></p>
    </div>

    <div>
        <p> <a asp-controller="User" asp-action="GetAllEmployeesInfo" class="btn btn-primary" style="height:200px; width:250px;">View all users</a></p>
    </div>

    <div>
        <a asp-controller="Notification" asp-action="GetNotifications" class="btn btn-primary mx-2" id="li"> Get My Notifications</a>
    </div>
</body>


