<body>
    <div>
        <p><a asp-controller="User" asp-action="Create" class="btn btn-primary" style="height:200px; width:250px;">Add worked hours</a></p>
    </div>

    <div>
        <p><a asp-controller="User" asp-action="GetAttendance" class="btn btn-primary"  style="height:200px; width:250px;">Check schedule</a></p>
    </div>

    <div>
        <p> <a asp-controller="User" asp-action="ViewUsers" class="btn btn-primary"  style="height:200px; width:250px;">View all users</a></p>
    </div>
</body>


